### Q1

Use Jupyter Notebook (Python or R) to implement a neural network approach to logistic regression (no hidden layers, one output node)

1. Import libraries that are needed for analysis

In [1]:
import numpy as np

As per the lecture notes the steps we can take here are as follows:
- Start off with defining the sigmoid function, $f(z) = \frac{1}{1 + e^{-z}}$
- Define $\hat{y} = a_{w, b} = f(\bold{w} \cdot \bold{x} + b) $ * The bold means w and x are vectors and this is the dot product
- Define a log loss function, $Loss(y, \hat{y}) = y^{(i)}log(\hat{y}^{(i)}) + (1-y^{(i)})log(1-\hat{y}^{(i)})$
- Use the log loss function to define our cost function, $J(w, b) = -\frac{1}{N} \sum\limits^{N}_{i = 1} y^{(i)}log(\hat{y}^{(i)}) + (1-y^{(i)})log(1-\hat{y}^{(i)})$
- Define $\bigtriangleup w_j$ and $\bigtriangleup b$
  - Where $\bigtriangleup w_j = \frac{\delta J}{\delta w_j} = x_{j}^{(i)}(\hat{y}^{(i)} - y^{(i)})$
  - Where $\bigtriangleup b = \frac{\delta J}{\delta b} = \hat{y}^{(i)} - y^{(i)}$

In [2]:
def f(x, w, b):
    z = np.dot(x, w) + b
    return 1 / (1 + np.exp(-z))

In [3]:
# Initialise weights and bias
# For the weights, it needs to match the length of x
# Here for x, I will use the example from lectures on movies
import pandas as pd
df = pd.read_csv("../data/lr_data.csv", sep = "\t")
df["I_Like"] = pd.Series(np.where(df['I_Like'] == 'Yes', 1, 0))

In [4]:
df

          Movie  Mary  John  I_Like
0        LOTR 2   1.0   5.0       0
1          Mov3   1.0   4.0       0
2          Mov4   1.5   4.0       0
3          Mov5   2.5   3.0       0
4          Mov6   2.5   1.5       0
5          Mov7   2.5   1.0       0
6   Star Wars 1   4.5   4.0       1
7          Mov8   2.5   5.0       1
8          Mov9   3.5   4.0       1
9         Mov10   3.5   5.0       1
10        Mov11   4.5   5.0       1

In [23]:
# So what we have above is our training data. I need to put this into a vector array format through numpy
x = np.array(df.iloc[:, 1:4])

In [24]:
x

array([[1. , 5. , 0. ],
       [1. , 4. , 0. ],
       [1.5, 4. , 0. ],
       [2.5, 3. , 0. ],
       [2.5, 1.5, 0. ],
       [2.5, 1. , 0. ],
       [4.5, 4. , 1. ],
       [2.5, 5. , 1. ],
       [3.5, 4. , 1. ],
       [3.5, 5. , 1. ],
       [4.5, 5. , 1. ]])